@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --bg: #ffffff;
  --header-color: #000000;
  --color: #000000;
  --bg-header: #354f52;
  --bg-nav: #eeeeee;
  --switch-color: #000000;
  --switch-bg: #ffffff;
}

.darkMode {
  --bg: #2c2c2c;
  --header-color: #ffffff;
  --color: #ffffff;
  --bg-nav: #919191;
  --switch-color: #ffffff;
  --switch-bg: #000000;
}

.darkMode svg {
  fill: #ffffff;
}

.darkMode svg path {
  fill: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--color);
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--header-color);
  background: var(--bg-header);
  height: 74px;
  width: 100%;
  text-decoration: none;
  position: fixed;
}

header a {
  text-decoration: none;
}

.logo a {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: var(--color);
  font-size: 40px;
}

.menuMobile {
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.menuMobile div {
  width: 25px;
  height: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  margin-top: 5px;
  -webkit-transition: 2s;
  transition: 2s;
}

.menuMobile.checked .linha1 {
  -webkit-transform: rotate(-45deg) translate(0px, 10px);
          transform: rotate(-45deg) translate(0px, 10px);
}

.menuMobile.checked .linha2 {
  opacity: 0;
}

.menuMobile.checked .linha3 {
  -webkit-transform: rotate(45deg) translate(0px, -10px);
          transform: rotate(45deg) translate(0px, -10px);
}

.redesSociais,
.redesSociaisLinks {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  margin-right: 20px;
}

.redesSociais.checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.redesSociais.checked .redesSociaisLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.labelDarkMode {
  width: 30px;
  height: 14px;
  background: var(--switch-bg);
  border-radius: 7px;
  -webkit-transition: 1s;
  transition: 1s;
}

#checkboxDarkMode {
  display: none;
}

.checkboxBola {
  width: 15px;
  height: 14px;
  border-radius: 7px;
  background: var(--switch-color);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menuNavegacaoMobile {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuNavegacaoMobile a {
  display: none;
  color: var(--color);
  text-decoration: none;
  font-size: 20px;
}

.paginaAtualMobile::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-right: 5px;
  background-color: var(--color);
}

.menuNavegacao ul {
  list-style: none;
  padding-left: 20px;
  height: 47px;
  background-color: var(--bg-nav);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.6), 0 6px 10px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.6), 0 6px 10px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 74px;
  width: 100%;
}

.menuNavegacao a {
  color: var(--color);
  text-decoration: none;
  height: 34px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuNavegacao a:hover {
  border-bottom: solid var(--bg-header);
}

.paginaAtual {
  border-bottom: solid var(--bg-header);
}

section {
  height: 87vh;
  margin-left: 20px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section h2 {
  font-size: 60px;
}

section p {
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#inicio {
  padding-top: 121px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#inicio li {
  font-size: 28px;
}

.mudancasEconomicas {
  padding-top: 121px;
}

.mudancasEconomicas img {
  margin-top: 20px;
  margin-left: 40px;
  width: 680px;
  height: 358px;
}

.inflacao img {
  width: 400px;
  height: 602px;
}

.brasil img {
  width: 400px;
  height: 600px;
}

.impactos img {
  width: 392px;
  height: 600px;
}

.disputa img {
  width: 435px;
  height: 601px;
}

@media (max-width: 1285px) {
  .mudancasEconomicas img {
    width: 450px;
    height: 237px;
  }
  .inflacao img {
    width: 300px;
    height: 452px;
  }
  .brasil img {
    width: 350px;
    height: 450px;
  }
  .impactos img {
    width: 300px;
    height: 459px;
  }
  .disputa img {
    width: 326px;
    height: 450px;
  }
}

@media (max-width: 900px) {
  .menuMobile {
    display: block;
  }
  .redesSociais {
    display: none;
    position: absolute;
    top: 74px;
    right: 0;
    height: 92vh;
    width: 50vw;
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: var(--bg-header);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .menuNavegacaoMobile a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .paginaAtualMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .redesSociaisLinks {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .youTube {
    padding-bottom: 40px;
  }
  .menuNavegacao {
    display: none;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    margin-bottom: 60px;
  }
  section div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section h2 {
    font-size: 40px;
  }
  section p {
    text-align: justify;
  }
  #inicio li {
    font-size: 20px;
  }
  .mudancasEconomicas img {
    width: 300px;
    height: 158px;
  }
  .inflacao img {
    width: 200px;
    height: 301px;
  }
  .impactos img {
    width: 200px;
    height: 306px;
  }
  .disputa img {
    width: 217px;
    height: 300px;
  }
}

@media (max-height: 740px) {
  section {
    height: auto;
    padding-top: 245px;
  }
}

@media (max-height: 570px) {
  .redesSociais.checked {
    gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .redesSociais.checked.redesSociaisLinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */